<div class="row">
  @if (isLoading) {
  <div class="col-12 text-center">
    <div class="spinner-border text-muted"></div>
    <div class="spinner-border text-primary"></div>
    <div class="spinner-border text-success"></div>
    <div class="spinner-border text-info"></div>
    <div class="spinner-border text-warning"></div>
    <div class="spinner-border text-danger"></div>
    <div class="spinner-border text-secondary"></div>
    <div class="spinner-border text-dark"></div>
    <div class="spinner-border text-light"></div>
  </div>
  } @else {
  <div class="col-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Role ID</th>
          <th>Role Name</th>
        </tr>
      </thead>
      @for (item of roleList; track item.roleId) {
      <tbody>
        <tr>
          <td>{{ item.roleId }}</td>
          <td>{{ item.role }}</td>
        </tr>
      </tbody>
      }
    </table>
  </div>
  }
</div>
